
/* Texte font couleur */
 @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

 @font-face {
    font-family:"font-1" ;
    src: url(./assets/NotoSansMono-Black.ttf)
 }

 /* font d'écran */
 body{
    font-family: "font-1", serif;
    background: url(assets/937178.jpg) fixed center/cover;
    height: 500vh;
    
/* premier titre */
 }
h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5rem;
}

h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.808);
    text-shadow: 3px 0 0 rgba(207, 199, 199, 0.884);
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

main{
    background: rgb(192, 117, 186);
    width:90%;
    min-height: 500px;
    margin: 10px auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 12px 5px rgba(17, 17, 17, 0.315);
}

.positioning,
.flexbox{
    border: 2px solid black;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    position: relative;
    
}

h2{
    margin: 0;
}

#circle {
height: 60px;
width: 60px;
background: skyblue;
padding: 20px;
border-radius: 50%;
position: absolute;
top: -10px;
right: 110px;
box-shadow: 0  2px 12px 5px rgba(0, 0, 0, 0.267);

}

#rectangle{
    height: 15px;
    width: 100px;
    background: purple;
    padding: 20px;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translatex(-50%);
}

/* felxbox */
ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
}
li {
    list-style-type: none;
    font-size: 0.7rem;
    height: 160px;
    width: 160px;
    background: black;
    /* centrer verticalement */
    display: flex;
    align-items: center;
    justify-content: center;
}